{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="register-wrapper">
        <h1>Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="input-group">
                {{ form_label(registrationForm.firstName) }}
                {{ form_widget(registrationForm.firstName) }}
                {{ form_errors(registrationForm.firstName) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.lastName) }}
                {{ form_widget(registrationForm.lastName) }}
                {{ form_errors(registrationForm.lastName) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.phoneNumber) }}
                {{ form_widget(registrationForm.phoneNumber) }}
                {{ form_errors(registrationForm.phoneNumber) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.adress) }}
                {{ form_widget(registrationForm.adress) }}
                {{ form_errors(registrationForm.adress) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="input-group">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <div class="input-group input__flex_row">
                {{ form_label(registrationForm.agreeTerms, "J'accepte les conditions") }}
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>
            <div class="input-group">
                <button type="submit" class="btn">S'enregistrer</button>
            </div>
            <div class="input-group">
				<p class="register__p__highlight">Déjà un compte?</p>
				<a class="register__p__highlight" href="/login">Se connecter</a>
			</div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
